* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b8b8b8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header {
    background-color: rgb(220, 148, 15);
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid black;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 130px;
    object-fit: cover;
    display: block;
}

.logo h1 {
    color: #000;
    font-size: 28px;
    font-weight: bold;
}

.navegacao ul {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style-type: none;
}

.navegacao a {
    background-color: rgb(131, 223, 26);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px 25px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    display: inline-block;
}

.navegacao a:hover {
    background-color: rgb(115, 200, 20);
}


/* CARDS DE POSTS Pagina Inicial*/
.container-posts {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    display: grid;
    gap: 25px;
}

.card {
    background-color: #fff;
    border-radius: 20px;
     
}

.card:hover {
    box-shadow: 0 8px 20px rgb(68, 255, 0);
}

.card-imagem {
    position: relative;
    height: 220px;
    overflow: hidden;
    border-radius: 20px;
}

.card-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-conteudo {
    padding: 20px;
}

.card-conteudo h2 {
    font-size: 18px;
    color: #1a1a1a;
}

.card-conteudo p {
    font-size: 14px;
    color: #666;
}

.card-info {
    display: flex;
    gap: 15px;
    font-size: 12px;
    color: #999;
}

.card-info span {
    display: flex;
    align-items: center;
    gap: 4px;
}

.roda-pe {
    background-color: #1a1a1a;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
   

}
.roda-pe section h1{
  color: #ffffff;
    font-size: 15px;
    font-weight: bold
}

/* pagina Sobre */

.container-conteudo-sobre{
    flex: 1;
}

.conteudo-sobre {
    max-width: 800px;     
    margin: 0 auto;        
    padding: 80px 20px;
    text-align: justify;
}

/* PAGINA OUTROS */

.container-conteudo-outros{
    flex: 1;
}

.conteudo-outros {
    max-width: 400px;     
    margin: 0 auto;        
    padding: 80px 20px;
    text-align: justify;
    font-size: 20px;
}

.conteudo-outros ul {
    margin-bottom: 40px;
    margin-top: 20px;
}
.conteudo-outros a{
    text-decoration: none;
}